.root {
    -fx-background-color: linear-gradient(to bottom, #dfe9f3, #ffffff);
    -fx-padding: 20;
    -fx-spacing: 10;
}

.text-field, .password-field {
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-padding: 8;
    -fx-border-color: #b0c4de;
    -fx-border-width: 1;
    -fx-background-color: #ffffff;
}

.button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-background-radius: 8;
    -fx-padding: 8 15 8 15;
}

.button:hover {
    -fx-background-color: #45a049;
}

.label {
    -fx-font-size: 12pt;
}
.title-label {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #008080;
}